body {
  background-color:#C4BBAF;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3{
  font-family: 'Delius Unicase', cursive;
  color: #8D5B4C;
  font-size: 40px;
}

h2 {
  margin-top: 50px;
  font-size: 30px;
}

h3 {
  color: #5A2A27;
  font-size: 24px;
  padding-top: 40px;
}

hr {
  border: none;
  height: 2px;
  background-color: #5C4742;
  margin: 20px 748px;
}

a {
  text-decoration: none;
}

a:link {
  color: #031927;
}

a:visited {
  color: #4D5382;
}

a:hover {
  color: #71816D;
}

a:active {
  color: #D91E36;
}
.header-section {
  background-color: #A5978B;
  margin-bottom: 50px;
  padding: 30px 0px;
  text-align: center;
}

.middle-section {
  text-align: center;
}

.profile-pic {
  border-radius: 1%;
  width: 400px;
  height: 500px;
}

.introduction-section {
  margin: 0px 700px 85px 700px;
  padding-left: 49px;
  text-align: left;
  line-height: 25px;
}

.about-me-section {
  margin: 0px 700px 85px 700px;
  text-align: left;
  line-height: 25px;
  padding-left: 49px;
  padding-right: 45px;
}

.contact-me-section {
  margin: 0px 700px 85px 700px;
  text-align: left;
  line-height: 24px;
  padding-left: 47px;
  padding-right: 47px;
}

.google-maps-pic {
  width: 410px;
  height: 350px;
  border-radius: 1%;
}

.footer-section {
  background-color: #A5978B;
  text-align: center;
  padding: 30px 0px;
}

.footer-section p {
  color: white;
  font-size: 20px;
}

.copyright {
  margin: 0px 700px 20px 700px;
}